/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

@font-face {
    font-family: "RedHatDisplay";
    src: url("./assets/fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans Pinstripe";
    src: url("./assets/fonts/AlumniSansPinstripe-Regular.ttf") format("truetype");
    font-style: normal;
}
:root {
  --bg-color: #fafafa;
  --surface: #ffffff;
  --item-one: #51ccc8;
  --item-two: #e15658;
  --item-three: #f2b261;
  --item-four: #5a9be1;
  font-family: Roboto;
}
.fourcards {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fourcards__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1em;
}
.fourcards__cat {
  font-family: Roboto;
  font-weight: 100;
  font-size: 2.125em;
}
.fourcards__title {
  font-family: Roboto;
  font-size: 2.125em;
  margin-bottom: 1rem;
}
.fourcards__desc {
  font-family: Roboto;
  max-width: 32.5em;
  text-align: center;
  margin-bottom: 2em;
}
.fourcards__cont {
  max-width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
.fourcards__item-title {
  font-size: 1.25em;
}
.fourcards__item {
  display: flex;
  flex-direction: column;
  max-width: 21.875em;
  height: 14.0625em;
  padding-block: 2em;
  padding-inline: 1em;
  justify-content: space-between;
}
.fourcards__item picture {
  display: flex;
  justify-content: flex-end;
}
.fourcards__sides {
  display: flex;
  align-items: center;
}
.fourcards__center {
  display: flex;
  flex-direction: column;
  gap: 1em;
}